*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
    color: blueviolet;
    margin: 18px;
    padding: 15px;
    font-size:50px;
}

h1:hover{
    color: brown;
    font-weight: bolder;
    transition: .3s;
}
p{
    font-family: sans-serif;
    margin: 10px;
}

img{
    width: 300px;
    margin: 10px;
}  

img:hover{
    transform: rotate(344deg);
    transition: .5s;

}